body.cv {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(248, 248, 248);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
}

.name>h1 {
    font-size: 2em;
}

.main_block {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.aside_block {
    display: block;
    flex-direction: column;
    width: 30%;
    background-color: slategray;
    position: relative;
    left: 0px;
    top: 0;
    bottom: 0;
    color: oldlace;
}

.aside_block>a {
    color: oldlace;
}

.block {
    padding: 15px 50px;
}

.block2 {
    padding: 10px 40px;
}

.block3 {
    padding: 10px 20px;
}

.block>h2 {
    border-bottom: 3px solid darkgrey;
}

.info {
    display: block;
    flex-direction: row;
    position: relative;
    width: 65%;
    right: 0px;
}

.avatarka {
    width: 100%;
    padding: 20px;
}

.avatar {
    vertical-align: middle;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    align-items: center;
}

.contact_me {
    border-top: 3px solid oldlace;
    border-bottom: 3px solid oldlace;
 
}

.code_ex {
    background-color: rgb(171, 174, 177);
    border-radius: 3%;
}

.icon {
    width: 18px;
    height: 18px;
}

.icon_foot {
    width: 50px;
    height: 50px;
}

.contacts {
    padding-left: 0;
}

.contact {
    list-style-type: none;
}

.footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: lightgray;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    list-style-type: none;
}